{% extends 'base.html.twig' %}

{% block title %}Edit Genre{% endblock %}

{% block body %}
    <h1>Edit Genre</h1>

    {{ include('genre/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_genre_index') }}">back to list</a>

    {{ include('genre/_delete_form.html.twig') }}
{% endblock %}
