<!-- Modal -->
<div 
    class="modal fade" 
    id="exampleModal" 
    tabindex="-1" 
    aria-labelledby="exampleModalLabel" 
    aria-hidden="true"
    data-modal-form-target="modal"
    >
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle }}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-action="modal-form#closeModal"></button>
      </div>
      <div class="modal-body">
            <turbo-frame
                class="modal-body"
                src="{{ modalSrc }}"
                id="{{ id }}"
                loading="lazy"
                data-turbo-form-redirect="true"
            >
                {{ modalContent|default('Loading...') }}
            </turbo-frame>
      </div>
    </div>
  </div>
</div>
