{% extends 'base.html.twig' %}

{% block title %}Book index{% endblock %}

{% block body %}
    <h1>Book index</h1>

    <div hx-get={{ path('_app_book_list') }} hx-trigger="load, bookListChanged from:body" hx-target="this">
        Loading...
    </div>
    <button hx-get="{{ path('_app_book_new') }}" hx-target="#dialog" class="btn btn-primary">
        Create new
    </button>

    <div id="modal" class="modal fade">
        <div id="dialog" class="modal-dialog" hx-target="this"></div>
    </div>

{% endblock %}
