{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>

    <turbo-frame id="book-info" target="_top">
        {{ include('book/_form.html.twig') }}
    </turbo-frame>

    <a href="{{ path('app_book_index') }}">back to list</a>
{% endblock %}
